{include file='view/manageheader.html'}
{include file='view/left.html'}
<script src="{JS_PATH}bossadd.js"></script>
<div class="right">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">店铺名称</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="店铺名称" name="bname">
        </div>
        <div class="form-group">
            <label for="exampleInputSales">销量</label>
            <input type="text" class="form-control" id="exampleInputSales" placeholder="销量" name="bsales">
        </div>
        <div class="form-group">
            <label for="exampleInputnNumber">商品数量</label>
            <input type="text" class="form-control" id="exampleInputnNumber" placeholder="商品数量" name="bnumber">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
        </div>
        <input type="hidden" name="bthumb" value="">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>