{include file='view/manageheader.html'}
{include file='view/left.html'}
<style>
    input{
        border:none;
        background: none;
        outline: none;
    }
</style>
<script src="{JS_PATH}cateshow.js"></script>
<div class="right">
    <table class="table table-striped">
        <thead>
            <tr>
               <th>cid</th>
               <th>名称</th>
               <th>缩略图</th>
               <th>pid</th>
               <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {foreach $data as $v}
            <tr data-id="{$v['cid']}">
                <td>{$v['cid']} </td>
                <td><input type="text" value="{$v['cname']}" data-type="cname"> </td>
                <td><img src="{$v['cthumb']}" alt="" width="40"></td>
                <td><input type="text" value="{$v['pid']}" data-type="pid"> </td>
                <td><button class="btn btn-danger del">删除</button></td>
            </tr>
        {/foreach}

        </tbody>
        
    </table>

</div>
</body>
</html>