{include file='view/header.html'}

<link rel="stylesheet" href="{CSS_PATH}class.css">
<!-- 头部结束 -->
	<!-- 全部分类 -->
	<!-- 标题导航 -->
	<div class="title-box">
		<div class="title-left">正在流行</div>
		<a href="" class="title-right"></a>
	</div>
	<!-- 标题导航结束 -->
	<div class="class-box">
        {foreach  array_slice($data,0,8) as $v}
            <a href="/perfect/index.php/cate/index1?pid={$v['cid']}" class="shop">
                <div class="shop1"><img src="{$v['cthumb']}" alt=""></div>
                <div class="shop-word">{$v['cname']}</div>
            </a>
		{/foreach}
	</div>
    <!-- 标题导航 -->
    <div class="title-box">
        <div class="title-left">畅销热卖</div>
        <a href="" class="title-right"></a>
    </div>
    <!-- 标题导航结束 -->
    <div class="class-box">
        {foreach array_slice($data,8) as $v}
            <a href="/perfect/index.php/cate/index1?pid={$v['cid']}" class="shop">
                <div class="shop1"><img src="{$v['cthumb']}" alt=""></div>
                <div class="shop-word">{$v['cname']}</div>
            </a>
        {/foreach}
    </div>
	<!-- 全部分类结束 -->



	<!-- foot -->
{include file='view/footer.html'}