{include file='view/header.html'}
<link rel="stylesheet" href="{CSS_PATH}delclass.css">
	<!-- 标题导航 -->
	<div class="title-box">
		<div class="title-left">应季流行</div>
		<a href="" class="title-right"></a>
	</div>
	<!-- 标题导航结束 -->
	<div class="class-box">
		{foreach $data  as $v}
		<a href="/perfect/index.php/cate/lists?pid={$v['cid']}" class="shop">
			<div class="shop1"><img src="{$v['cthumb']}" alt=""></div>
			<div class="shop-word">{$v['cname']}</div>
		</a>
        {/foreach}
	</div>
	<!-- 全部分类结束 -->
	<!-- 流行 -->
	<div class="liuxing-box">
		<div class="liuxing-title-box">
			<ul class="liuxing-word-box">
				<li class="liuxing-word">流行</li>
				<li class="liuxing-word">热销</li>
				<li class="liuxing-word">上新</li>
				<li class="liuxing-word">价格</li>
			</ul>
		</div>
		<div class="liuxing-shop-box">
			<div class="liuxing-box1">
	    			<a href="" class="liuxing-shangpin"><img src="img/upload_889fk05c17gfk4g257hbebh62cagb_640x900.jpg_320x999.webp" alt=""></a>
	    			<div class="danpin-word">
	    				<ul class="danpin-top">
	    				    <li>优选</li>
	    				    <li>休闲裤</li>
	    				    <li>显瘦阔腿裤</li>
	    				    <li>黑色</li>
	    				    <li>宽松</li>
	    				    <li>韩版</li>
	    				    <li>休闲</li>
	    				</ul>		
	    				<div class="danpin-bottom">
	    					<div class="danpin-bottom-left">¥56.25</div>
	    					<ul class="danpin-bottom-right">
	    					    <li class="shu">161</li>
	    					    <li class="xing iconfont icon-wujiaoxing"></li>
	    					</ul>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="liuxing-box1">
	    			<a href="" class="liuxing-shangpin"><img src="img/upload_6h7ae6f12aabdf98gf1500a6ie06e_1600x2250.jpg_320x999.webp" alt=""></a>
	    			<div class="danpin-word">
	    				<ul class="danpin-top">
	    				    <li>优选</li>
	    				    <li>休闲裤</li>
	    				    <li>显瘦阔腿裤</li>
	    				    <li>黑色</li>
	    				    <li>宽松</li>
	    				    <li>韩版</li>
	    				    <li>休闲</li>
	    				</ul>	
	    				<div class="danpin-bottom">
	    					<div class="danpin-bottom-left">¥56.25</div>
	    					<ul class="danpin-bottom-right">
	    					    <li class="shu">161</li>
	    					    <li class="xing iconfont icon-wujiaoxing"></li>
	    					</ul>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
		</div>
	<!-- 流行结束 -->
	<!-- foot -->
{include file='view/footer.html'}