
<div class="footer">
    <a href="/perfect/index.php/index" class="bankuai">
        <div class="bankuai-icon iconfont icon-shouye"></div>
        <div class="bankuai-word1">首页</div>
    </a>
    <a href="/perfect/index.php/cate" class="bankuai">
        <div class="bankuai-icon iconfont icon-leimupinleifenleileibie"></div>
        <div class="bankuai-word">分类</div>
    </a>
    <a href="/perfect/index.php/shop" class="bankuai">
        <div class="bankuai-icon iconfont icon-bao"></div>
        <div class="bankuai-word">购物车</div>
    </a>
    <a href="/perfect/index.php/my/index" class="bankuai">
        <div class="bankuai-icon iconfont icon-5"></div>
        <div class="bankuai-word">我</div>
    </a>
</div>
<div id="foot"></div>
</body>
</html>