<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Time</title>
    <link rel="stylesheet" href="{CSS_PATH}index.css">
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <meta name="viewport" content="width=device-width">
    <script src="{JS_PATH}rem.js"></script>

</head>
<body>
<!-- 头部 -->
<div class="header">
    <a href="javascript:history.back();" class="fangdajing iconfont icon-fangdajing"></a>
    <div class="meilishuo">{$title}</div>
    <a href="" class="message iconfont icon-asmkticon0129"></a>
</div>
<div id="head"></div>
<!-- 头部结束 -->

