<div class="left nav bs-docs-sidenav" style="position: fixed">
    <h2>管理菜单</h2>
    <h3>管理分类</h3>
    <ul>
        <li>
            <a href="/perfect/index.php/catemanage">添加分类</a>
        </li>
        <li>
            <a href="/perfect/index.php/catemanage/show" >展示分类</a>
        </li>
    </ul>
    <h3>店铺管理</h3>
    <ul>
        <li>
            <a href="/perfect/index.php/bossmanage">注册店铺</a>
        </li>
        <li>
            <a href="/perfect/index.php/bossmanage/show" >展示店铺</a>
        </li>
    </ul>
    <h3>商品管理</h3>
    <ul>
        <li>
            <a href="/perfect/index.php/goodsmanage">添加商品</a>
        </li>
        <li>
            <a href="/perfect/index.php/goodsmanage/show" >展示商品</a>
        </li>
    </ul>
</div>