
<div class="left">
    <h2>管理菜单</h2>
    <h3>管理分类</h3>
    <ul>
        <li>
            <a href="cateadd.php" target="right">添加分类</a>
        </li>
        <li>
            <a href="cateshow.php" target="right">展示分类</a>
        </li>
    </ul>
    <h3>文章管理</h3>
    <ul>
        <li>
            <a href="articleadd.php" target="right">添加文章</a>
        </li>
        <li>
            <a href="articleshow.php" target="right">展示文章</a>
        </li>
    </ul>
    <h3>新闻管理</h3>
    <ul>
        <li>
            <a href="newsadd.php" target="right">添加分类</a>
        </li>
        <li>
            <a href="">展示分类</a>
        </li>
    </ul>
    <h3>推荐位管理</h3>
    <ul>
        <li>
            <a href="posadd.php" target="right">添加推荐位</a>
        </li>
        <li>
            <a href="posshow.php" target="right">展示推荐位</a>
        </li>
    </ul>
</div>