<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Time——注册</title>
    <link rel="stylesheet" href="{CSS_PATH}loading.css">
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <meta name="viewport" content="width=device-width">
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}jquery.js"></script>
    <script src="{JS_PATH}loading.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="header">
    <a href="/perfect/index.php/my/index" class="zuo iconfont icon-zuo"></a>
    <div class="meilishuo">注册</div>
    <a href="" class="message"></a>
</div>
<div id="head">···</div>
<!-- 头部结束 -->
<!-- 主要内容 -->
<div class="main">
    <div class="wenzi">用户名</div>
    <input type="text" placeholder="请输入6~10位" maxlength="32" class="user" form="myform" name="username">
    <div class="wenzi">密码</div>
    <input type="password" placeholder="请输入6~10位密码" maxlength="32" class="user"  form="myform" name="password">
    <a href="" class="load">注册</a>
</div>

<form id="myform"></form>
<!-- 主要内容结束 -->
</body>
</html>